.container-I {
  height: 86vh;
}

.title-container {
  height: 10%;
  display: grid;
  place-items: center;
  font-size: 48px;
  font-weight: bold;
}

.details-container {
  height: 80%;
}

.photo-carousle {
  background-color: #FFB703;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.current-image {
  border-radius: 0.5rem;
  box-shadow: 0px 0px 7px #666;
  width: 85%;
  height: 80%;
  margin: 0.7rem;
}

.hide-current-image {
  display: none;
}

.description {
  background-color: #FB850050;
  color: #023047;
}

.button-container {
  height: 10%;
  display: grid;
  place-items: center;
}

.container-II {
  height: 100vh;
  padding: 5rem;
}

.rules-guidlines {
  flex: 2;
  background-color: #FB850050;
  margin-right: 2rem;
}

.contact {
  flex: 1;
  background-color: #FB850050;
}

.photo-carousle {
  
}