.profile-top-container, .profile-bottom-container{
  display: flex;
  height: 50%;
  width: 100%;
}
.profile-top-left-container , .profile-bottom-left-container{
    flex:0.4;
    background-color: antiquewhite;
}
.profile-top-right-container , .profile-bottom-right-container{
    flex:0.6;
    background-color: aqua;
}
.profile-img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.user-address{
    text-align: center;
}
.profile-top-right-container{
    border-radius: 5px;
  background-color: #FFB703;
  margin: 0.75rem;
}
input {
    width:50%;
    margin-right: 0.1rem!important;
    margin-left: 0.1rem!important;
    margin-top: 0.1rem!important;
    margin-bottom: 0.1rem!important;
}
